#content-info-section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1em;
  background-color: var(--background-color);
  width: 90vw;
  height:fit-content;
  border-radius: 0.5em;
}

#background-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  padding: 1em;
}

#content-img-wrapper {
  border-radius: 0.5em;
  flex: 1;
}

#poster-img {
  width: 100%;
  object-fit: cover;
  border-radius: inherit; 
}

#content-text-wrapper {
  display: flex;
  flex: 3;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
}

#content-title {
  text-align: center;
}

#content-info {
  text-align: center;
}
