:root {
  --background-color: rgb(53,54,58);
  --font-color: rgb(255, 255, 255);
  --border-color: rgb(255, 255, 255);
}

html, body {
  height: 100%;
}

body {
  background-color: var(--background-color);
  color: white;
  font-family: 'Mulish', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#nav-bar {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  z-index: 999;
}

#page-nav {
  height: 100%;
  display: flex;
  gap: 1em;
  align-items: center;
}

#page-nav a {
  height: 100%;
  display: flex;
  align-items: center;
}

#page-nav a:hover {
  opacity: 50%;
}

main {
  flex: 1 0 auto;
  color: var(--font-color);
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#content-heading {
  text-align: center;
}

#search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 0.5em;
}

#search-input {
  border-radius: 0.5vmin;
  padding: 0.5em;
}

#search-button {
  background-color: white;
  border-radius: 50%;
  padding: 0.5em;
  border: none;
  transition: opacity 0.3s;
}

#search-button:hover {
  cursor: pointer;  
  opacity: 75%;
}

#btn-container {
  display: flex;
  justify-content: center;
  margin: 1em;
}

footer {
  flex-shrink: 0;
  background-color: black;
  display: flex;
  padding: 1em;
  justify-content: center;
  gap: 1em;
  align-items: center;
}

footer img {
  width: 15%;
  object-fit: cover;
}

@media screen and (max-width: 600px) {
  #home-link {
    display: none;
  }
  
  #nav-bar {
    padding-top: .67em;
    padding-bottom: .67em;
  }
}